@import "../../sass/theme.scss";

.input__container {
  position: relative;
  display: inline-block;

  @include margin-default();
}

.input__element-container {
  position: relative;
}

.input__element {
  @include unselectable();
  @include font-default();
  @include effect-hover();
  @include border-default();

  transition: all 0.1s ease-in;

  position: relative;

  background-color: $color-secondary;

  width: 100%;
  height: 30px;

  padding: 0 0.25rem;
  position: relative;

  &:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input__element_reset {
  @extend .input__element;
  padding-right: 1.75rem;
}

.input__label {
  @include font-default($font-color-light);

  display: block;

  margin-bottom: 0.1rem;
}

.input__reset {
  padding: 0px;
  border-radius: 5px;
  height: 100%;
  width: 1.75rem;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;

  transition: transform 0.1s ease-in;

  user-select: none;

  &:hover {
    transform: scale(1.1);
  }
}
