@import "../../sass/theme.scss";

@mixin input-padding {
  padding: 0.25rem;
}

.input__container {
  position: relative;
  display: inline-block;

  @include margin-default();
}

.input__dropdown-popup {
  @include font-default();
  // @include border-default($color-grey-1, false);

  position: absolute;
  width: 100%;
  background-color: $color-secondary;
  max-height: 1rem;
}

.input__element-container {
  position: relative;
}

.dropdown-popup__container {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

  // max-height: 10rem;
  // overflow-y: scroll;
}

.dropdown-popup__item {
  @include border-default($color-grey-1, false);
  @include input-padding();
  @include effect-hover();

  border-top: 0;

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.input__dropdown-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.input__element {
  @include unselectable();
  @include font-default();
  @include effect-hover();
  @include border-default();

  transition: all 0.1s ease-in;

  position: relative;

  background-color: $color-secondary;

  width: 200px;
  height: 30px;

  padding: 0 0.25rem;
  position: relative;

  &:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & + .input__dropdown-popup {
      visibility: visible;
      opacity: 1;
    }
  }
}

.input__element_reset {
  @extend .input__element;
  padding-right: 1.75rem;
}

.input__label {
  @include font-default($font-color-light);

  display: block;

  margin-bottom: 0.1rem;
}

.input__reset {
  padding: 0px;
  border-radius: 5px;
  height: 100%;
  width: 1.75rem;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;

  transition: transform 0.1s ease-in;

  user-select: none;

  &:hover {
    transform: scale(1.1);
  }
}
