@import "../../sass/theme.scss";

.btn {
  @include unselectable();
  @include font-default();

  @include effect-hover();

  @include margin-default();

  width: 160px;
  height: 40px;

  background-color: $color-secondary;
  padding: 0.5rem;

  &:active {
    border: 1px solid $color-secondary;
    background-color: $color-light-0;
  }
}

@each $color-name, $color-value in $colors {
  .btn_#{$color-name} {
    background-color: $color-value;
    @include border-default(
      clamp-color-lightness($color-value, $color-secondary, $color-grey-1)
    );
  }
}
