@import "../../sass/theme.scss";

.btn {
  @include unselectable();

  @include effect-hover();

  @include margin-default();

  background-color: $color-secondary;

  &:active {
    border: 1px solid $color-secondary;
    background-color: $color-light-0;
  }
}

.btn_sm {
  padding: 0rem;
  padding: 0.25rem;
  font-size: 0.8rem;
}

.btn_md {
  @include font-default();
  padding: 0.5rem;
  width: 160px;
  height: 40px;
}

@each $color-name, $color-value in $colors {
  .btn_#{$color-name} {
    background-color: $color-value;
    @include border-default(
      clamp-color-lightness($color-value, $color-secondary, $color-grey-1)
    );
  }
}
