@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  // font-size: 18px;
  font-weight: 400;
}

body {
  margin: 0;
}

