@import "../../sass/theme.scss";

.dropdown-popup__container {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

  // max-height: 10rem;
  // overflow-y: scroll;
}

.dropdown-popup__item {
  @include border-default($color-grey-1, false);
  @include effect-hover();

  padding: 0.25rem;

  cursor: pointer;

  border-top: 0;

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.dropdown-popup {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  display: table;
  position: absolute;
  left: 0;

  @include font-default();

  position: absolute;
  width: 100%;
  background-color: $color-secondary;
}

.dropdown-popup_opened {
  pointer-events: all;
  opacity: 1;
}
